<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<?include Includes.wxi?>
	<Product Id="$(var.ProductGuid)"
			Name='!(loc.AppName) $(var.CurrentCryptokiManVersion)'
			Language='1033'
			Version='$(var.CurrentCryptokiManVersion)'
			Manufacturer='!(loc.Manufacturer)'
			UpgradeCode="$(var.CurrentUpdateGuid)" >

		<!-- We set InstallScope to perMachine to install for all users -->
		<Package Description='!(loc.PackageDescription)' Comments='!(loc.PackageComments)'
				Manufacturer='!(loc.Manufacturer)'
				InstallerVersion='200'
				Platform="x64"
				InstallPrivileges='elevated' InstallScope='perMachine'
				Compressed='yes' />

		<!-- http://wixtoolset.org/documentation/manual/v3/howtos/ui_and_localization/configure_arp_appearance.html -->
		<Icon Id="icon.ico" SourceFile="cryptokiman.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<!-- Don't allow downgrade. -->
		<MajorUpgrade DowngradeErrorMessage='!(loc.DowngradeErrorMessage)' />

		<Property Id="SUPPRESS_LAUNCH_BERVIEWER_AFTER_INSTALL_FINISH">
			<RegistrySearch Id="SuppressLaunchCryptokiManHKCU"
							Root="HKCU"
							Key="SOFTWARE\[Manufacturer]\!(loc.AppName)"
							Name="PreconfigureSuppressLaunchAfterInstall"
							Type="raw" />

			<RegistrySearch Id="SuppressLaunchCryptokiManHKLM"
							Root="HKLM"
							Key="SOFTWARE\[Manufacturer]\!(loc.AppName)"
							Name="PreconfigureSuppressLaunchAfterInstall"
							Type="raw" />
		</Property>

		<Media Id='1' Cabinet='cryptokiman.cab' EmbedCab='yes' />
	
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='DesktopFolder' Name="DesktopFolder" />
			<Directory Id="ProgramMenuFolder">
				<Directory Id="CryptokiManStartMenuFolder" Name='!(loc.AppName)' />
			</Directory>

			<Directory Id='ProgramFiles64Folder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='!(loc.Manufacturer)'>
            		<Component Id='ApplicationDesktopShortcut' Guid="$(var.GuidOfCustomComponent)">
              			<RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Action="createAndRemoveOnUninstall">
                			<RegistryValue Name="CustomComponent" Value="1" Type="integer" KeyPath='yes' />
              			</RegistryKey>

              			<File Id="cryptokiman.ico" Name="cryptokiman.ico" Source="cryptokiman.ico" />

              			<!-- bereditor shortcut on desktop -->
              			<Shortcut Id="ApplicationDesktopShortCut" Directory="DesktopFolder"
                        	Name='!(loc.AppName)' Target="[#cryptokiman.exe]"
                        	Hotkey="0" IconIndex="0" Show="normal"
                        	WorkingDirectory="bin_Dir" />
            		</Component>

				</Directory>
			</Directory>
		</Directory>

		<Property Id="BERVIEWER_AUTO_START">1</Property>

		<!-- Auto-start via REgistry -->
		<DirectoryRef Id="INSTALLDIR">
			<!--
			<Component Id="CryptokiManAutoStart" Guid="$(var.GuidOfAutoStartComponent)">
				<RegistryKey Root="HKCU"
							Key="Software\Microsoft\Windows\CurrentVersion\Run"
							Action="create">
					<RegistryValue Name='!(loc.AppName)' Value="[#cryptokiman.exe]" Type="string" KeyPath="yes" />
				</RegistryKey>

				<Condition>CRYPTOKIMAN_AUTO_START</Condition>
			</Component>
			-->
		</DirectoryRef>

		<DirectoryRef Id="CryptokiManStartMenuFolder">
			<Component Id="CryptokiMan_StartMenuShortCut" Guid="$(var.GuidOfStartMenuShortCutComponent)" >
				<RemoveFolder Id="CryptokiManStartMenuFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
						Name="Installed" Type="integer" Value="1" KeyPath='yes' />

				<!-- shortcut to 'start cryptokiman' -->
				<Shortcut Id="ApplicationStartMenuShortCut" Directory="CryptokiManStartMenuFolder"
							Name="!(loc.AppName)" Target="[#cryptokiman.exe]"
							Hotkey="0" IconIndex="0" Show="normal"
							WorkingDirectory="bin" />

				<!-- shortcut to 'Uninstall' -->
				<Shortcut Id="UninstallProduct" Name="!(loc.UninstallCryptokiMan)"
							Target="[SystemFolder]msiexec.exe" IconIndex="0"
							Arguments="/x [ProductCode]" Description="!(loc.UninstallCryptokiMan)" />
			</Component>
		</DirectoryRef>

		<!-- UI related -->
		<Property Id='WIXUI_INSTALLDIR' Value="INSTALLDIR" />
		<UI>
			<UIRef Id='WixUI_InstallDir_NoLicense' />
			<UIRef Id='WixUI_ErrorProgressText' />
			<!--
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
				(NOT Installed) AND (NOT SUPPRESS_LAUNCH_BERVIEWER_AFTER_INSTALL_FINISH)
			</Publish>
			-->
		</UI>

		<!--
		<Property Id="WixShellExecTarget" Value="[#cryptokiman.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		-->

		<Feature Id='Main' Level='1'>
			<ComponentRef Id='CryptokiMan_StartMenuShortCut' />
			<ComponentRef Id='ApplicationDesktopShortcut' />
			<!--
			<ComponentRef Id='CryptokiManAutoStart' />
			-->
			<!-- defined in fragment.wxs -->
			<ComponentGroupRef Id='group_bin' />
		</Feature>

		<Property Id="CHECKBOX_DEL_BERVIEWER_DATA" Secure="yes" />
		<WixVariable Id="WixUIBannerBmp" Value="cryptokiman-top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="cryptokiman-background.bmp" />

	</Product>
</Wix>
